/*! _project.scss | Huro | Css ninja 2020-2021 */

/*
    1. Project Details
*/

/* ==========================================================================
1. Project Details
========================================================================== */

.project-details {
    .tabs-wrapper {
        .tabs-inner {
            .tabs {
                margin: 0 auto;
                background: $white;
            }
        }
    }

    .project-details-inner {
        padding: 20px 0;

        .project-details-card {
            @extend .s-card;

            padding: 40px;

            .card-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .title-wrap {
                    h3 {
                        font-family: $font;
                        font-size: 1.7rem;
                        font-weight: 600;
                        color: $dark-text;
                        line-height: 1.2;
                        transition: all .3s;
                    }

                    p {}
                }
            }

            .project-overview {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;

                p {
                    max-width: 420px;
                }
            }

            .project-features {
                display: flex;
                padding: 25px 0;
                border-top: 1px solid darken($fade-grey, 3%);
                border-bottom: 1px solid darken($fade-grey, 3%);

                .project-feature {
                    margin-right: 20px;
                    width: calc(25% - 20px);

                    i {
                        font-size: 1.6rem;
                        color: $primary;
                        margin-bottom: 8px;
                    }

                    h4 {
                        font-family: $font;
                        font-size: .9rem;
                        font-weight: 500;
                        color: $dark;
                    }

                    p {
                        line-height: 1.2;
                        font-size: .85rem;
                        color: $light-text;
                        margin-bottom: 0;
                    }
                }
            }

            .project-files {
                padding: 20px 0;

                h4 {
                    font-family: $font;
                    font-weight: 600;
                    font-size: .8rem;
                    text-transform: uppercase;
                    color: $primary;
                    margin-bottom: 12px;
                }

                .file-box {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    background: $white;
                    border: 1px solid transparent;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        border-color: darken($fade-grey, 3%);
                        box-shadow: $light-box-shadow;
                    }

                    img {
                        display: block;
                        width: 48px;
                        min-width: 48px;
                        height: 48px;
                    }

                    .meta {
                        margin-left: 12px;
                        line-height: 1.3;

                        span {
                            display: block;

                            &:first-child {
                                font-family: $font;
                                font-size: .9rem;
                                font-weight: 600;
                                color: $dark-text;
                            }

                            &:nth-child(2) {
                                font-size: .9rem;
                                color: $light-text;

                                i {
                                    position: relative;
                                    top: -3px;
                                    font-size: .3rem;
                                    color: $light-text;
                                    margin: 0 4px;
                                }
                            }
                        }
                    }

                    .dropdown {
                        margin-left: auto;
                    }
                }
            }
        }

        .side-card {
            @extend .s-card;

            padding: 40px;
            margin-bottom: 1.5rem;

            h4 {
                font-family: $font;
                font-weight: 600;
                font-size: .8rem;
                text-transform: uppercase;
                color: $primary;
                margin-bottom: 16px;
            }
        }

        .project-team-card {
            @extend .s-card;

            padding: 40px;
            max-width: 940px;
            display: block;
            margin: 0 auto;

            .column {
                padding: 1.5rem;

                &:nth-child(odd) {
                    border-right: 1px solid darken($fade-grey, 3%);
                }

                &.has-border-bottom {
                    border-bottom: 1px solid darken($fade-grey, 3%);
                }
            }
        }
    }
}
