/*! _typography.scss | Huro | Css ninja 2020-2021 */

/*
    1. Titles
    2. Titles Dark mode
*/

/* ==========================================================================
1. Titles
========================================================================== */

$font: 'Roboto', sans-serif;

.title, .subtitle {
    font-family: $font;
    color: $dark-text;

    &.is-narrow {
        margin-bottom: 0;
    }

    &.is-thin {
        font-weight: 300;
    }
}

p {
    font-family: $font;
    font-weight: 300;
    color: $light-text;

    &.white-text {
        color: $white;
    }
}

div {
    color: $dark-text;
}

.font-size-base {
    font-size: 1rem;
}

.has-dark-text {
    color: $dark-text;
}

/* ==========================================================================
2. Titles Dark mode
========================================================================== */

body {
    &.is-dark {
        .title, .dark-inverted {
            color: $dark-dark-text !important;
        }

        .subtitle {
            color: $light-text;
        }

        a {
            &.dark-inverted {
                color: $accent !important;
            }

            &.dark-inverted-hover:hover {
                color: $accent !important;
            }
        }
    }
}

/* ==========================================================================
3. Font sizes
========================================================================== */

.rem-1 {
    font-size: 1rem;
}