<div class="toolbar ml-auto">

    <a class="toolbar-link">
        <label class="dark-mode ml-auto">
            <input type="checkbox" checked>
            <div></div>
        </label>
    </a>

    <a class="toolbar-link right-panel-trigger" data-panel="languages-panel">
        <img src="assets/img/icons/flags/united-states-of-america.svg" alt="">
    </a>

    <div class="toolbar-notifications is-hidden-mobile">
        <div class="dropdown is-spaced is-dots is-right dropdown-trigger">
            <div class="is-trigger" aria-haspopup="true" aria-controls="dropdown-menu">
                <i data-feather="bell"></i>
                <span class="new-indicator pulsate"></span>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="heading">
                        <div class="heading-left">
                            <h6 class="heading-title">Notifications</h6>
                        </div>
                        <div class="heading-right">
                            <a class="notification-link" href="#">See all</a>
                        </div>
                    </div>
                    <ul class="notification-list">
                        <li>
                            <a class="notification-item">
                                <div class="img-left">
                                    <img class="user-photo" alt="" src="https://via.placeholder.com/150x150"
                                        data-demo-src="assets/img/avatars/svg/7.gif" />
                                </div>
                                <div class="user-content">
                                    <p class="user-info"><span class="name">John Doe</span> left a comment.</p>
                                    <p class="time">1 hour ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="notification-item">
                                <div class="img-left">
                                    <img class="user-photo" alt="" src="https://via.placeholder.com/150x150"
                                        data-demo-src="assets/img/avatars/svg/3.gif" />
                                </div>
                                <div class="user-content">
                                    <p class="user-info"><span class="name">John Doe</span> left a comment.</p>
                                    <p class="time">1 hour ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="notification-item">
                                <div class="img-left">
                                    <img class="user-photo" alt="" src="https://via.placeholder.com/150x150"
                                        data-demo-src="assets/img/avatars/svg/8.gif" />
                                </div>
                                <div class="user-content">
                                    <p class="user-info"><span class="name">John Doe</span> left a comment.</p>
                                    <p class="time">1 hour ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="notification-item">
                                <div class="img-left">
                                    <img class="user-photo" alt="" src="https://via.placeholder.com/150x150"
                                        data-demo-src="assets/img/avatars/svg/5.gif" />
                                </div>
                                <div class="user-content">
                                    <p class="user-info"><span class="name">John Doe</span> left a comment.</p>
                                    <p class="time">1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <a class="toolbar-link right-panel-trigger" data-panel="activity-panel">
        <i data-feather="grid"></i>
    </a>
</div>