<div class="collapsed-messaging">
    <div class="inner">
        <div class="collapsed-menu">
            <div class="huro-hamburger nav-trigger push-resize messages-push" data-sidebar="messages-sidebar">
                <span class="menu-toggle has-chevron">
                    <span class="icon-box-toggle">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </span>
            </div>
        </div>
        <div class="collapsed-add">
            <a class="button collapse-add-button is-primary">
                <i data-feather="plus"></i>
            </a>
        </div>
        <ul class="collapsed-conversations">
            <li class="is-active" id="conversation1-collapsed" data-conversation-menu="conversation1" data-position="Business Analyst" data-username="Henry G.">
                <div class="user-container">
                    <img class="is-user"  src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/2.gif" alt="">
                </div>
            </li>
            <li id="conversation2-collapsed" data-conversation-menu="conversation2" data-position="Sales Manager" data-username="Elie B.">
                <div class="user-container">
                    <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/8.gif" alt="">
                </div>
            </li>
            <li id="conversation3-collapsed" data-conversation-menu="conversation3" data-position="Accountant" data-username="Nathan S.">
                <div class="user-container">
                    <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/7.gif" alt="">
                </div>
            </li>
            <li id="conversation4-collapsed" data-conversation-menu="conversation4" data-position="CEO" data-username="John S.">
                <div class="user-container">
                    <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/4.gif" alt="">
                </div>
            </li>
            <li id="conversation5-collapsed" data-conversation-menu="conversation5" data-position="Marketing Specialist" data-username="Emile Z.">
                <div class="user-container">
                    <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/6.gif" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>