<div id="home-sidebar" class="sidebar-panel is-generic">
    <div class="subpanel-header">
        <h3 class="no-mb">Dashboards</h3>
        <div class="panel-close">
            <i data-feather="x"></i>
        </div>
    </div>
    <div class="inner">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/dashboards-flights.html">Flights Dashboard</a>
            </li>
            <li>
                <a href="/dashboards-stocks.html">Stocks Dashboard</a>
            </li>
            <li>
                <a href="#">My Projects</a>
            </li>
            <li class="has-children">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link">Charts <i data-feather="chevron-right"></i></a>
                </div>
                <ul>
                    <li>
                        <a class="is-submenu" href="/dashboards-charts-apex.html">Apex Charts</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Submenu item 2</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Submenu item 3</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">Profile Settings</a>
            </li>
        </ul>

        <div class="action-wrap docked-action">
            <a class="button h-button is-outlined is-big is-rounded is-fullwidth will-load">
                <i data-feather="plus"></i>
                Create Project
            </a>
        </div>
    </div>
</div>