<div id="layouts-sidebar" class="sidebar-panel is-generic">
    <div class="subpanel-header">
        <h3 class="no-mb">Layouts</h3>
        <div class="panel-close">
            <i data-feather="x"></i>
        </div>
    </div>
    <div class="inner">
        <ul>
            <li class="has-children">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link">Lists <i data-feather="chevron-right"></i></a>
                </div>
                <ul>
                    <li>
                        <a class="is-submenu" href="#">Item 1</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Item 2</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Item 3</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link">Grids <i data-feather="chevron-right"></i></a>
                </div>
                <ul>
                    <li>
                        <a class="is-submenu" href="#">Item 1</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Item 2</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="#">Item 3</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-children">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link">Auth <i data-feather="chevron-right"></i></a>
                </div>
                <ul>
                    <li>
                        <a class="is-submenu" href="/auth-login.html">Login</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="/auth-signup.html">Signup</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link">Projects <i data-feather="chevron-right"></i></a>
                </div>
                <ul>
                    <li>
                        <a class="is-submenu" href="/projects-projects.html">Projects</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="/projects-projects-2.html">Projects V2</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="/projects-projects-3.html">Projects V3</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="/projects-project.html">Project</a>
                    </li>
                    <li>
                        <a class="is-submenu" href="/projects-board.html">Board</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);">Profile Settings</a>
            </li>
        </ul>
    </div>
</div>