<div id="messages-sidebar" class="sidebar-panel is-messages">
    <div class="messages-header">
        <h3 class="no-mb">Chat</h3>

        <div class="huro-hamburger nav-trigger push-resize messages-push" data-sidebar="messages-sidebar">
            <span class="menu-toggle has-chevron">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </div>
    </div>
    <div class="inner">
        <div class="is-new-conversation">
            <button id="start-conversation" class="button h-button is-primary is-raised is-rounded is-fullwidth">
                <i data-feather="plus"></i>
                <span>New Conversation</span>
            </button>
        </div>
        <ul id="conversations-list" class="animated preFadeInUp fadeInUp">

            <li id="conversation1" class="is-active" data-conversation-menu="conversation1" data-position="Business Analyst">
                <div class="recent-user">
                    <div class="user-container">
                        <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/2.gif" alt="">
                    </div>
                    <div class="recipient-meta">
                        <span>Henry G.</span>
                        <span>3 minutes ago</span>
                    </div>
                </div>
            </li>
            <li id="conversation2" data-conversation-menu="conversation2" data-position="Sales Manager">
                <div class="recent-user">
                    <div class="user-container">
                        <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/8.gif" alt="">
                    </div>
                    <div class="recipient-meta">
                        <span>Elie B.</span>
                        <span>30 minutes ago</span>
                    </div>
                </div>
            </li>
            <li id="conversation3" class="is-flex-wrapped multiple" data-conversation-menu="conversation3" data-position="Accountant">
                <div class="recent-user">
                    <div class="user-container">
                        <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/7.gif" alt="">
                    </div>
                    <div class="recipient-meta">
                        <span>Nathan S.</span>
                        <span>1 day ago</span>
                    </div>
                </div>
            </li>
            <li id="conversation4" data-conversation-menu="conversation4" data-position="CEO">
                <div class="recent-user">
                    <div class="user-container">
                        <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/4.gif" alt="">
                    </div>
                    <div class="recipient-meta">
                        <span>John S.</span>
                        <span>1 day ago</span>
                    </div>
                </div>
            </li>
            <li id="conversation5" data-conversation-menu="conversation5" data-position="Marketing Specialist">
                <div class="recent-user">
                    <div class="user-container">
                        <img class="is-user" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/svg/6.gif" alt="">
                    </div>
                    <div class="recipient-meta">
                        <span>Emile Z.</span>
                        <span>2 days ago</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>