<div class="huro-demos">

    <div class="demo-section">
        <div class="demo-section-title">
            <img src="assets/img/icons/components/layout-1.svg" alt="">
            <div class="title-meta">
                <h3>Sidebar Layout</h3>
                <p>With a side navigation</p>
            </div>
        </div>

        <div class="columns is-multiline">
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Homepage
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go to
                                    demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Product
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | About
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

    <div class="demo-section">
        <div class="demo-section-title">
            <img src="assets/img/icons/components/layout-2.svg" alt="">
            <div class="title-meta">
                <h3>Navbar Layout</h3>
                <p>With a top navigation</p>
            </div>
        </div>

        <div class="columns is-multiline">
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Homepage
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go to
                                    demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Product
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | About
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

    <div class="demo-section">
        <div class="demo-section-title">
            <img src="assets/img/icons/components/layout-3.svg" alt="">
            <div class="title-meta">
                <h3>Minimal Layout</h3>
                <p>Without any navigation</p>
            </div>
        </div>

        <div class="columns is-multiline">
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Homepage
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go to
                                    demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | Product
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        
            <!-- Demo item -->
            <div class="column is-4 has-text-centered">
                <figure class="huro-demo-wrapper">
                    <img src="https://via.placeholder.com/800x450" alt="" />
                    <div class="circle-overlay"></div>
                    <div class="demo-info has-text-centered">
                        <div class="wrapper">
                            <div class="demo-title">
                                Startup | About
                            </div>
                            <div class="demo-link">
                                <a class="is-dm" href="#" target="_blank">Go
                                    to demo <i class="fas fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>

</div>