/*! _banking.scss | Huro | Css ninja 2020-2021 */

/*
    1. Banking Dashboard V1
*/

/* ==========================================================================
1. Banking Dashboard V1
========================================================================== */

.banking-dashboard {
    &.banking-dashboard-v1 {
        .columns {
            .column {
                height: fit-content;
            }
        }

        .dashboard-card {
            @extend .s-card;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            &.is-credit-cards {
                padding: 0;

                .title-wrap {
                    padding: 20px 20px 10px 20px;
                    margin-bottom: 0;
                }

                .card-block {
                    .card-block-inner {
                        display: flex;
                        align-items: center;
                        padding: 20px;

                        &:not(:first-child) {
                            border-top: 1.6px dashed darken($fade-grey, 4%);
                        }

                        .credit-card {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 80px;
                            width: 120px;
                            min-width: 120px;
                            background: $fade-grey;
                            border-radius: 10px;
                            padding: 6px 10px 8px 10px;
                            overflow: hidden;

                            &.is-theme-1 {
                                background: $primary;
                                box-shadow: $primary-box-shadow;
                            }

                            &.is-theme-2 {
                                background: $info;
                                box-shadow: $info-box-shadow;
                            }

                            .top {
                                .card-number {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    span {
                                        font-family: $font;
                                        font-size: .8rem;
                                        font-weight: 500;
                                        color: $smoke-white;
                                        display: block;
                                    }

                                    img {
                                        display: block;
                                        width: 100%;
                                        max-width: 28px;
                                    }
                                }
                            }

                            .bottom {
                                font-family: $font;
                                font-size: .7rem;
                                font-weight: 500;
                                color: $smoke-white;
                            }

                            .shape {
                                position: absolute;
                                bottom: -10px;
                                right: -10px;
                                height: 46px;
                                width: 46px;
                                background: $white;
                                border-radius: 50%;
                                opacity: .15;
                            }
                        }

                        .credit-card-meta {
                            margin-left: 16px;

                            span {
                                display: block;
                                font-family: $font;

                                &:first-child {
                                    font-size: .9rem;
                                    color: $light-text;
                                }

                                &:nth-child(2) {
                                    color: $dark-text;
                                    font-size: 1.6rem;
                                    font-weight: 600;
                                    line-height: 1.2;
                                }
                            }
                        }

                        .credit-card-end {
                            margin-left: auto;
                        }
                    }

                    .info-block-inner {
                        padding: 10px 20px 20px 20px;

                        .title-wrap {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 0;
                            margin-bottom: 12px;

                            h3 {
                                font-size: 1rem;
                                color: $dark-text;
                                font-weight: 500;
                            }

                            .action-link {
                                font-size: .9rem;
                            }
                        }

                        .info-block-line {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 6px 0;

                            h4 {
                                font-family: $font;
                                font-weight: 500;
                                color: $dark-text;
                                font-size: .9rem;
                                line-height: 2;
                            }

                            span {
                                color: $light-text;
                                font-size: .9rem;

                                &.has-image {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    flex-grow: 2;

                                    img {
                                        max-width: 28px;
                                        margin-right: 6px;
                                    }
                                }

                                i {
                                    position: relative;
                                    top: 0;
                                    font-size: 10px;
                                    margin-right: 8px;
                                }
                            }
                        }
                    }
                }
            }

            &.is-contacts {
                display: flex;
                flex-direction: column;
                height: 372px;

                .people-wrap {
                    .people {
                        display: flex;
                        padding: 10px 0;

                        .h-avatar {
                            margin: 0 4px;
                        }
                    }

                    .actions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-family: $font;
                        padding: 0 4px;

                        span {
                            font-size: .9rem;
                            color: $light-text;
                        }

                        a {
                            color: $light-text;

                            &:hover {
                                color: $primary;
                            }

                            svg {
                                height: 16px;
                                width: 16px;
                            }
                        }
                    }
                }

                .transfer-form {
                    margin-top: auto;
                }
            }

            &.is-transactions {
                .transactions {
                    padding: 10px 0;

                    .media-flex-center {
                        .flex-meta {
                            span {
                                &:nth-child(2) {
                                    font-size: .85rem;
                                }
                            }
                        }

                        .flex-end {
                            font-family: $font;
                            font-size: 1rem;
                            font-weight: 500;
                            color: $dark-text;
                        }
                    }
                }
            }

            &.is-income {
                position: relative;

                .field {
                    position: absolute;
                    top: 12px;
                    right: 16px;
                    z-index: 5;

                    .h-select {
                        .select-box {
                            border-color: transparent;
                        }
                    }
                }
            }

            > .title-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;
                font-family: $font;

                h3 {
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: $light-text;
                }

                .title-meta {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $dark-text;
                }

                .action-link {
                    font-size: .9rem;
                }
            }

            .context-text {
                font-size: .9rem;
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .banking-dashboard {
        &.banking-dashboard-v1 {
            .dashboard-card {
                &.is-credit-cards {
                    .card-block {
                        .card-block-inner {
                            .credit-card {
                                height: 67px;
                                width: 100px;
                                min-width: 100px;
                            }

                            .credit-card-meta {
                                span {
                                    &:nth-child(2) {
                                        font-size: 1.3rem;
                                    }
                                }
                            }
                        }
                    }
                }

                &.is-contacts {
                    height: 400px;
                }

                .context-text {
                    font-size: .8rem;
                }
            }
        }
    }
}
