/*! _flights.scss | Huro | Css ninja 2020-2021 */

/*
    1. Dashboards Flights
    2. Dashboards Flights Dark mode
*/

/* ==========================================================================
1. Dashboards Flights
========================================================================== */

.flights-dashboard {
    .booking-bar-wrapper {
        @extend .s-card;

        position: relative;
        background: $primary;
        border-color: $primary;
        padding: 30px;
        color: $white;
        overflow: hidden;
        box-shadow: $primary-box-shadow;

        .globe-icon {
            position: absolute;
            bottom: -25px;
            right: -30px;
            max-width: 135px;
            opacity: .6;
        }

        .booking-bar-info {
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            .lnil {
                font-size: 2.2rem;
                color: $white;
            }

            .inner {
                margin-left: 16px;

                .booking-bar-heading {
                    font-family: $font;
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: $white;
                }

                .booking-bar-sub-heading {
                    font-family: $font;
                    font-size: 1.1rem;
                    color: $white;
                }
            }
        }

        .booking-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .booking-bar-inputs {
                display: flex;
                align-items: center;

                .control:not(:last-of-type) {
                    margin-right: 2rem;
                }

                .input {
                    background: darken($primary, 20%);
                    border-color: darken($primary, 20%);
                    color: $white;
                }
            }
        }
    }

    .flights-toolbar {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            color: $light-text;
        }
    }

    .flights-summary-wrapper {
        .flight-summary {
            @extend .s-card;

            display: flex;
            align-items: center;
            border: 1px solid $fade-grey;
            transition: all .3s;

            &:hover {
                border-color: $primary;
            }

            &.is-featured {
                background: $primary;
                border-color: $primary;
                box-shadow: $primary-box-shadow;

                .flight-price {
                    color: $white;
                }

                .meta {
                    span {
                        color: $white !important;
                    }
                }
            }

            .flight-price {
                font-family: $font;
                font-size: 3rem;
                //line-height: 0;
                font-weight: 700;
                color: $primary;

                &:before {
                    content: '$';
                    position: relative;
                    //top: -12px;
                    //right: 12px;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }

            .meta {
                margin-left: 16px;

                span {
                    display: block;

                    &:first-child {
                        color: $dark-text;
                        font-size: .9rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    &:nth-child(2) {
                        color: $light-text;
                    }
                }
            }
        }
    }

    .flights {
        padding: 1.5rem 0;

        .flight-card {
            @extend .s-card;

            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            box-shadow: none;

            &:hover {
                box-shadow: $light-box-shadow;

                .route {
                    .line {
                        &:before, &:after {
                            opacity: 1;
                        }
                    }
                }
            }

            > img {
                display: block;
                border-radius: 50%;
                max-width: 32px;
            }

            .start, .end {
                span {
                    display: block;
                    color: $dark-text;
                    font-family: $font;

                    &:first-child {
                        font-weight: 600;
                        color: $dark-text;
                    }

                    &:nth-child(2), &:nth-child(3) {
                        font-size: .9rem;
                        color: $light-text;
                    }
                }
            }

            .start {
                margin-left: 1rem;
            }

            .end {
                margin-left: auto;
                margin-right: 1.5rem;

                //text-align: right;
           
            }

            .route {
                flex-grow: 2;
                display: flex;
                align-items: center;
                max-width: 320px;
                margin: 0 auto;
                padding: 0 1rem;

                .departure {
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    border: 1px solid $light-text;
                }

                .line {
                    position: relative;
                    flex-grow: 2;
                    height: 1px;
                    border-bottom: 1.6px dashed $light-text;

                    &:before, &:after {
                        opacity: 0;
                        pointer-events: none;
                        transition: all .3s;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: -14px;
                        left: 50%;
                        right: 50%;
                        height: 10px;
                        width: 1px;
                        border-right: 1px solid $light-text;
                    }

                    &:after {
                        content: attr(data-content);
                        position: absolute;
                        top: -32px;
                        left: 23%;
                        width: 130px;
                        font-size: .8rem;
                        text-align: center;
                        color: $light-text;
                    }
                }

                .arrival {
                    font-size: 1.8rem;
                    transform: rotate(90deg);
                    height: 26px;
                    width: 26px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .lnil {
                        position: relative;
                        top: -4px;
                        right: 5px;
                        color: $light-text;
                        margin-left: .75rem;
                    }
                }
            }

            .flight-price {
                font-family: $font;
                font-size: 1.8rem;
                font-weight: 700;
                color: $light-text;

                &:before {
                    content: '$';
                    position: relative;
                    top: -8px;
                    right: -6px;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }
    }

    .company-card {
        @extend .s-card;

        padding: 30px;
        margin-bottom: 1.5rem;

        .h-avatar {
            display: block;
            margin: 0 auto;
        }
    }

    .filters-card {
        @extend .s-card;

        padding: 30px;
        margin-bottom: 1.5rem;

        .checkboxes-list {
            margin: 0;
            padding: 20px 0 0 0;

            .field {
                > label {
                    font-family: $font;
                    font-weight: 500;
                    font-size: 1.1rem;
                    color: $dark-text;
                }
            }

            .checkbox {
                padding: 8px 0;
            }
        }
    }
}

/* ==========================================================================
2. Dashboards Flights Dark mode
========================================================================== */

body {
    &.is-dark {
        .flights-dashboard {
            .booking-bar-wrapper {
                background: $accent;
                border-color: $accent;
                box-shadow: $accent-box-shadow;

                .booking-bar-inputs {
                    .input {
                        background: darken($accent, 6%);
                        border-color: darken($accent, 6%);
                    }
                }
            }

            .flights-summary-wrapper {
                .flight-summary {
                    &:hover {
                        border-color: $accent !important;
                    }

                    &.is-featured {
                        background: $accent !important;
                        border-color: $accent !important;
                        box-shadow: $accent-box-shadow !important;

                        .flight-price {
                            color: $white;
                        }
                    }

                    .flight-price {
                        color: $accent;
                    }

                    .meta {
                        span {
                            &:first-child {
                                color: $dark-dark-text;
                            }
                        }
                    }
                }
            }

            .flights {
                .flight-card {
                    .start, .end {
                        span {
                            &:first-child {
                                color: $dark-dark-text;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
3. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .flights-dashboard {
        .flights {
            padding-bottom: 0;

            .flight-card {
                flex-direction: column;

                &:last-child {
                    margin-bottom: 0;
                }

                > img {
                    max-width: 48px;
                    margin-bottom: 12px;
                }

                .start, .end {
                    text-align: center;
                    margin: 10px auto;

                    span {
                        font-size: 1rem !important;
                    }
                }

                .route {
                    width: 100%;
                    max-width: 100%;

                    .line {
                        &:before, &:after {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .flights-dashboard {
        .flights {
            padding-bottom: 0;

            .flight-card {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .flights-dashboard {
        .flights-summary-wrapper {
            .flight-summary {
                .flight-price {
                    font-size: 2.4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) and (orientation: landscape) {
    .flights-dashboard {
        .flights-summary-wrapper {
            .flight-summary {
                .flight-price {
                    font-size: 2.4rem;
                }
            }
        }
    }
}