/*! _utility.scss | Huro | Css ninja 2020-2021 */

/* ==========================================================================
Utility Pages
========================================================================== */

/*
    1. Confirm Account
    2. Promotion Page
*/

/* ==========================================================================
1. Confirm Account
========================================================================== */

.confirm-account-wrapper, .promotion-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 540px;
    min-height: 560px;
    margin: 0 auto;

    .wrapper-inner {
        .action-box {
            @extend .s-card;

            padding: 40px;

            .box-content {
                text-align: center;
                font-family: $font;

                img {
                    display: block;
                    width: 100%;
                    max-width: 220px;
                    margin: 0 auto 8px auto;

                    &.is-larger {
                        max-width: 300px;
                    }
                }

                h3 {
                    font-weight: 500;
                    max-width: 320px;
                    margin: 0 auto 8px auto;

                    span {
                        color: $primary;
                    }
                }

                p {
                    font-size: .9rem;
                }

                .buttons {
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 30px;

                    .button {
                        margin: 0 4px;
                        min-width: 180px;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Promotion Page
========================================================================== */

.promotion-page-wrapper {
    max-width: 840px;

    .wrapper-outer {
        @extend .s-card;

        display: flex;
        padding: 0;

        .wrapper-inner {
            .action-box {
                border: none;
                background: none;
                border-radius: 0;
                border-right: 1px solid darken($fade-grey, 3%);

                .price {
                    text-align: center;
                    padding-top: 8px;

                    span {
                        display: block;
                        font-family: $font;

                        &:first-child {
                            font-size: 2.8rem;
                            font-weight: 600;
                            color: $dark-text;
                            line-height: 1;

                            &:before {
                                position: relative;
                                top: -12px;
                                content: '$';
                                font-size: 60%;
                            }
                        }

                        &:nth-child(2) {
                            font-size: .75rem;
                            color: $light-text;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .side-wrapper {
            flex-grow: 2;
            padding: 40px;
            min-width: 40%;

            .side-inner {
                .side-title {
                    font-family: $font;
                    margin-bottom: 16px;

                    h3 {
                        font-weight: 500;
                        color: $dark-text;
                    }

                    p {
                        font-size: .9rem;
                    }
                }

                .action-list {
                    .media-flex {
                        .icon-wrap {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 32px;
                            width: 32px;
                            min-width: 32px;
                            border-radius: 50%;
                            background: $white;
                            border: 1px solid darken($fade-grey, 3%);
                            box-shadow: $light-box-shadow;
                            color: $primary;

                            svg {
                                width: 16px;
                                height: 16px;
                                stroke-width: 3px;
                            }
                        }

                        .flex-meta {
                            span {
                                font-weight: 400;
                                font-size: .9rem;
                            }

                            p {
                                font-size: .9rem;
                                max-width: 240px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Status Page
========================================================================== */

.status-page-wrapper {
    max-width: 680px;
    margin: 0 auto;
    padding-top: 80px;

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .logo {
            display: block;
            width: 50px;
            min-width: 50px;
            height: 50px;
        }
    }

    .status-block {
        background: $white;
        margin-bottom: 40px;
        border: 1px solid darken($fade-grey, 3%);
        border-radius: 6px;

        .status-header {
            padding: 40px;

            .indicator {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                margin-right: 20px;
                background: $success;
            }

            .title {
                display: inline-block;
                font-family: $font;
                font-weight: 500;
                color: $dark-text;
            }

            .subtitle {
                display: block;
                margin-left: 35px;
                color: $light-text;
            }
        }

        .status-uptime {
            border-top: 1px solid darken($fade-grey, 3%);
            border-bottom: 1px solid darken($fade-grey, 3%);
            padding: 16px 40px;
            font-family: $font;

            .title {
                display: inline-block;
                font-size: 14px;
                margin-bottom: 0;
                font-weight: 500;
                color: $light-text;
            }

            .uptime {
                display: inline-block;
                margin-left: 60px;
                font-size: 14px;
                color: $light-text;
            }
        }

        .status-list {
            padding: 40px;

            .list-block {
                display: flex;

                .icon-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 54px;
                    width: 54px;
                    min-width: 54px;
                    border-radius: 50%;
                    background: $white;
                    border: 1px solid darken($fade-grey, 3%);
                    box-shadow: $light-box-shadow;
                    color: $primary;

                    img {
                        display: block;
                        max-width: 54px;
                        border-radius: 50%;
                    }
                }

                .progress-wrap {
                    flex-grow: 2;
                }
            }

            .label {
                font-size: 16px;
                font-weight: bold;
            }

            .amount {
                font-size: 16px;
                font-weight: bold;
                color: #bbb;
            }
        }
    }

    .status-tweets .twitter {
        padding: 0 15px 15px 15px;
        margin: -20px -20px 50px -20px;
        border-bottom: 1px solid #efefef;
    }

    .status-tweets .icon {
        display: inline-block;
        padding-left: 20px;
        color: #11bff2;
    }

    .status-tweets .username {
        display: inline-block;
        padding-left: 30px;
    }

    .status-tweets .updates {
        padding: 0 40px 40px 40px;
    }

    .status-tweets .update {
        padding-top: 40px;
    }

    .status-tweets .update .timestamp {
        font-weight: bold;
        color: #bbb;
    }

    .status-tweets .updates .event {
        font-size: 16px;
        line-height: 1.6;
    }

    .status-footer {
        padding-left: 20px;
    }

    .status-footer a {
        padding: 0 10px;
    }
}

/* ==========================================================================
6. Media Queries
========================================================================== */

@media only screen and (max-width: 767px) {
    .confirm-account-wrapper {
        .wrapper-inner {
            .action-box {
                padding: 20px;

                .box-content {
                    .buttons {
                        .button {
                            min-width: 130px;
                        }
                    }
                }
            }
        }
    }

    .promotion-page-wrapper {
        .wrapper-outer {
            flex-direction: column;

            .wrapper-inner {
                .action-box {
                    padding: 20px 20px 40px 20px;
                    border-right: none;
                    border-bottom: 1px solid darken($fade-grey, 3%);

                    .box-content {
                        .buttons {
                            .button {
                                min-width: 130px;
                            }
                        }
                    }
                }
            }

            .side-wrapper {
                padding: 40px 20px;
            }
        }
    }
}
