/*! _cards.scss | Huro | Css ninja 2020-2021 */

/*
    1. Simple Cards
    2. Simple Cards Dark mode
*/

/* ==========================================================================
1. Simple Cards
========================================================================== */

.r-card {
    flex: 1;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid darken($fade-grey, 3%);
    transition: all .3s;
}

.s-card {
    flex: 1;
    display: inline-block;
    width: 100%;
    padding: 20px;
    background-color: $white;
    border-radius: 6px;
    border: 1px solid darken($fade-grey, 3%);
    transition: all .3s;
}

.r-card, .s-card {
    &.has-margin-bottom {
        margin-bottom: 1.5rem;
    }

    &.is-flat {
        box-shadow: none;
    }

    &.is-raised {
        box-shadow: $light-box-shadow;
    }

    &.is-primary {
        background: $primary;
        border-color: $primary;

        .title, .subtitle, h1, h2, h3, h4, p {
            color: $smoke-white;
        }
    }

    .card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left, .right {
            display: flex;
            align-items: center;
        }

        .left {
            .title {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .right {
            justify-content: flex-end;
        }
    }

    .card-inner {
        padding-top: 1.75rem;
    }
}

/* ==========================================================================
2. Simple Cards Dark mode
========================================================================== */

body {
    &.is-dark {
        .r-card, .s-card {
            background: lighten($dark-sidebar, 6%);
            border-color: lighten($dark-sidebar, 12%);

            .h-avatar {
                img {
                    border-color: lighten($dark-sidebar, 6%) !important;
                }
            }

            .avatar-stack {
                .h-avatar {
                    border-color: lighten($dark-sidebar, 6%) !important;

                    .avatar {
                        &.is-more {
                            .inner {
                                border-color: lighten($dark-sidebar, 6%) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Cards
========================================================================== */

.r-card-advanced {
    border-radius: 10px;
}

.s-card-advanced {
    border-radius: 6px;
}

.r-card-advanced, .s-card-advanced {
    flex: 1;
    display: inline-block;
    width: 100%;
    background-color: $white;
    border: 1px solid darken($fade-grey, 3%);
    transition: all .3s;

    .card-header {
        padding: 10px 20px;
    }

    .card-body {
        padding: 20px;
    }
}
