/*! _icons.scss | Huro | Css ninja 2020-2021 */

/*
    1. Icons
    2. Icons Dark Mode
*/

/* ==========================================================================
1. Icons
========================================================================== */

.icons {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    .h-icon {
        margin: 0 6px;
    }
}

.h-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background: $fade-grey;
    transition: all .3s;

    &.is-small {
        height: 32px;
        width: 32px;

        .fas, .fab, .far, .fal {
            font-size: 1rem;
        }

        .lnil, .lnir {
            font-size: 1.2rem;
        }
    }

    &.is-medium {
        height: 50px;
        width: 50px;

        &.is-bordered {
            border-width: 1.6px;
        }

        .fas, .fab, .far, .fal {
            font-size: 1.5rem;
        }

        .lnil, .lnir {
            font-size: 1.7rem;
        }
    }

    &.is-large {
        height: 68px;
        width: 68px;

        &.is-bordered {
            border-width: 2px;
        }

        .fas, .fab, .far, .fal {
            font-size: 2rem;
        }

        .lnil, .lnir {
            font-size: 2.2rem;
        }
    }

    &.is-big {
        height: 80px;
        width: 80px;

        &.is-bordered {
            border-width: 2px;
        }

        .fas, .fab, .far, .fal {
            font-size: 2.4rem;
        }

        .lnil, .lnir {
            font-size: 2.6rem;
        }
    }

    &.is-xl {
        height: 100px;
        width: 100px;

        &.is-bordered {
            border-width: 2px;
        }

        .fas, .fab, .far, .fal {
            font-size: 3rem;
        }

        .lnil, .lnir {
            font-size: 3.4rem;
        }
    }

    &.is-rounded {
        border-radius: 50%;
    }

    &.is-primary {
        background: lighten($primary, 42%);

        &.is-bordered {
            border-color: $primary;
        }

        i {
            color: $primary;
        }
    }

    &.is-accent {
        background: lighten($accent, 36%);

        &.is-bordered {
            border-color: $accent;
        }

        i {
            color: $accent;
        }
    }

    &.is-success {
        background: lighten($success, 45%);

        &.is-bordered {
            border-color: $success;
        }

        i {
            color: $success;
        }
    }

    &.is-info {
        background: lighten($info, 45%);

        &.is-bordered {
            border-color: $info;
        }

        i {
            color: $info;
        }
    }

    &.is-warning {
        background: lighten($warning, 32%);

        &.is-bordered {
            border-color: $warning;
        }

        i {
            color: $warning;
        }
    }

    &.is-danger {
        background: lighten($danger, 36%);

        &.is-bordered {
            border-color: $danger;
        }

        i {
            color: $danger;
        }
    }

    &.is-bordered {
        border: 1px solid $muted-grey;
    }

    .fas, .fab, .far, .fal {
        font-size: 1.2rem;
        color: $muted-grey;
        transition: color .3s;
    }

    .lnil, .lnir {
        font-size: 1.4rem;
        color: $muted-grey;
        transition: color .3s;
    }
}

/* ==========================================================================
2. Icons Dark Mode
========================================================================== */

body {
    &.is-dark {
        .h-icon {
            &.is-primary {
                background: $accent;

                &.is-bordered {
                    border-color: $accent;
                }

                i {
                    color: $white;
                }
            }

            &.is-accent {
                background: $accent;

                &.is-bordered {
                    border-color: $accent;
                }

                i {
                    color: $white;
                }
            }

            &.is-success {
                background: $success;

                &.is-bordered {
                    border-color: $success;
                }

                i {
                    color: $white;
                }
            }

            &.is-info {
                background: $info;

                &.is-bordered {
                    border-color: $info;
                }

                i {
                    color: $white;
                }
            }

            &.is-warning {
                background: $warning;

                &.is-bordered {
                    border-color: $warning;
                }

                i {
                    color: $white;
                }
            }

            &.is-danger {
                background: $danger;

                &.is-bordered {
                    border-color: $danger;
                }

                i {
                    color: $white;
                }
            }
        }
    }
}

